{
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "compact": false,
  "env": {
    "development" : {
      "compact": false
    },
    "production" : {
      "compact": false
    }
  }
}
